.head{
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo{
  height: 50px;
  width: 60px;
}
a{
  color: gray;
  text-decoration: none;
}
.burger{
  display: none;
}
.play{
  width: 50px;
  height: 50px;
}
main{
  background-color: lightgray;
}
.center{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.center1{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
}
.puf1{
  width: 50%;
  height: 40%;
  margin-left: 25%;
  margin-top: 3%;
}
.text1{
  text-align: center;
}
button{
  background-color: purple;
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 30px;
  margin-left: 30%;
  margin-top: 5%;
  color: white;
}
.box1{
  background-color: white;
  height: 300px;
  width: 30%;
  margin-top: 3%;
}
.box2{
  background-color: white;
  height: 300px;
  width: 30%;
  margin-top: 3%;
}
.box3{
  background-color: white;
  height: 300px;
  width: 30%;
  margin-top: 3%;
}
.box4{
  background-color: white;
  height: 300px;
  width: 30%;
}
.box5{
  background-color: white;
  height: 300px;
  width: 30%;
}
.box6{
  background-color: white;
  height: 300px;
  width: 30%;
}
.b1{
  width: 25%;
  height: 50px;
  margin-left: 38%;
  margin-bottom: 3%;
}
footer{
  margin-top: 0;
  background-color: gray;
  padding: 1px;
}
.end{
  margin-top: 1%;
}
.end1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.t1{
  color: lightgray;
  margin-top: 10%;
}
i{
font-size: 25px;
}
.icon{
  width: 18%;
  margin-left: 10%;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}
.globe{
  float: right;
  margin-top: 2%;
}
.final{
  text-align: center;
  color: lightgray;
}